<<<<<<< Updated upstream
body {
	background: #e5e7e9;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #373737;
=======
:root {
  --primary-color: #9E51FF; /* Global scope */
  --spacing: 20px;          /* Global scope */
}

body {
	background: #0e0e0e;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #f0f0ff;
>>>>>>> Stashed changes
	font-size: 12pt;
	display: flex;
	flex-direction: column;
}
<<<<<<< Updated upstream
=======

h1,h2,h3{
	color: var(--primary-color);
}

>>>>>>> Stashed changes
html,
body {
	height: 100%;
	margin: 0;
}
main {
	flex: 1;
	max-width: 80vw;
	align-self: center;
}

nav {
	display: flex;
	padding: 10px;
	border-bottom: solid #373737;
	border-width: 1px;
<<<<<<< Updated upstream
=======
	color: var(--primary-color);
>>>>>>> Stashed changes

	#nav-content {
		column-gap: 33px;
		display: flex;
		width: 80vw;
		display: flex;
		margin: auto;
	}
	a {
		font-size: 16pt;
	}
	a:hover {
		text-decoration: underline;
	}
}
footer {
	position: static;
	display: flex;
	justify-content: center;

	#footer-content {
		width: 80vw;
		display: flex;
		margin: auto;
	}
}
<<<<<<< Updated upstream

#nina-nome {
	font-size: 52pt;
	text-align: center;
	margin: 3px;
=======
#sobre-mim{
	max-width: 600px;
}
#nina-main{
	margin: 200px;
}

#nina-nome {
	font-size: 52pt;
	margin:0px;
	text-align: center;
>>>>>>> Stashed changes
}
