{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%} {% if user %}
<form
	class="achievement"
	hx-post="/achievements"
	hx-target="#achievement-list"
	hx-swap="beforeend">
	<h2>Postar conquista</h2>
	<input
		type="text"
		name="title"
		placeholder="Título"
		required />
	<textarea
		type="text"
		name="description"
		placeholder="Descrição"
		required>
	</textarea>

	<button type="submit">Postar</button>
</form>
{% endif %}
<ul id="achievement-list">
    {% if achievements %}
        {% for achievement in achievements %}
            {% include "partials/achievement_card.html" with context %}
        {% endfor %}
    {% else %}
        <li>Nenhuma conquista ainda :(</li>
    {% endif %}
</ul>
<div
	id="global-overlay"
	class="overlay hidden" onclick="this.classList.add('hidden'); document.querySelectorAll('.popup').forEach(p => p.classList.add('hidden'));">
</div>
</div>
{% endblock %}
